body{
    width: 100%;
    overflow-x: hidden;
}
.hero-img{
    height: 70vh;
    object-fit: cover;

}

.hero{
    padding-left: 40px;
    padding-right: 40px;
}

.hero-carousel-option{
    background: linear-gradient(to top, rgba(0, 0, 0, 0.795), rgba(5, 5, 5, 0.075))
}
/* nav section */
.nav-button-flex{
    gap: 20px;
}

.toast-css{
    position: fixed;
    top: 0;
    right: 0;
}


/* content section */

.content-first{
    height: 300px;
    padding: 20px
}
.content-group{
    padding-left: 40px;
    padding-right: 40px;
    

}

.content-second{
    height: 300px;
  
    padding: 20px;
}

.content-third{
    height: 300px;
   
    padding: 20px 10px;
}
.card-one{
    background-color: black;
    border-radius: 20px;
    height: 260px;
    padding: 10px;
    width: auto;
    color: white;
}
.card-one button{
    width: 100px;
    height: 30px;
    border-radius: 20px;
    background-color:rgba(255, 0, 0, 0.829) ;
    align-items: center;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 15px;
}
.tick{
    font-weight: 600;
}
.size
{
    font-weight: 300;
    font-size: 12px;
}
.card-two{
     background-color: rgb(243, 208, 7);
    border-radius: 20px;
    height: 260px;
    width: auto;
    padding: 10px;
    color: white;
    
}
.card-two button{
     width: 100px;
    height: 30px;
    border-radius: 20px;
    align-items: center;
    border: none;
    cursor: pointer;
    background-color: white;
  color: rgb(243, 208, 7);
  font-size: 15px;
}
.card-three{
     background-color: rgba(255, 0, 0, 0.829);
    border-radius: 20px;
    height: 260px;
    width: auto;
    padding: 10px;
    color: white;
    
}
.card-three button{
 width: 100px;
    height: 30px;
    border-radius: 20px;
    align-items: center;
    border: none;
    cursor: pointer;
    background-color: white;
    color: rgba(255, 0, 0, 0.829);
    font-size: 15px;
}
.card-1{
  background-color: rgba(219, 209, 209, 0.651);
    border-radius: 20px;
    height: 260px;
    padding: 10px;
    width: auto;
    color: black;   
}
.card-1 button{
    width: 100px;
    height: 30px;
    border-radius: 20px;
    background-color:rgba(255, 0, 0, 0.829) ;
    align-items: center;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 11px;
    text-wrap: wrap;
}
.card-2{
     background-color: rgb(6, 217, 13);
    border-radius: 20px;
    height: 260px;
    width: auto;
    padding: 10px;
    color: white;
}
.card-2 button{
     width: 100px;
    height: 30px;
    border-radius: 20px;
    align-items: center;
    border: none;
    cursor: pointer;
    background-color: white;
  color: rgb(6, 217, 13);
  font-size: 15px;
}
.card-3{
  background-color: rgba(0, 81, 255, 0.842);
    border-radius: 20px;
    height: 260px;
    width: auto;
    padding: 10px;
    color: white;   
}
.card-3 button{
     width: 100px;
    height: 30px;
    border-radius: 20px;
    align-items: center;
    border: none;
    cursor: pointer;
    background-color: white;
  color:rgba(0, 81, 255, 0.842) ;
  font-size: 11px;
}


.img{
    
    width: 100px;
   height: 100px;
    object-fit: cover;
}
.img2{
    width: 200px;
   height: 249px;
    object-fit: cover;
    
}
.img3{
    width: 170px;
    height: 125px;

}

    


/* products section */
.products-wrapper{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
}
.product-card .product-img{
    width: 250px;
    object-fit: cover;
}
.rating-wrapper{
    background-color: orange;
    width: 80px;
    height: 30px;
    align-items: center;
    justify-content: centre;
    gap: 5px;
    color: white;
    border-radius: 10px;
}

.rating-wrapper .rating-img{
    width: 20px !important;
    height: 20px !important;
}

.goto-button{
    background-color: orange;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
}
.goto-button .goto-img{
    width: 20px !important;
    height: 20px !important;
    object-fit: cover;
}
.product-card{
    padding: 0;
}
.lower-links{
    align-items: center;
    justify-content: space-around;
}
 

/* FAQ Section */
.img4{
    width: 400px;
    height: 400px;
    border-radius: 20px;
   
    padding-bottom: 100px;
}
.faq{
    display: flex;
    gap: 50px;
    align-items: center;
    padding-top: 50px;

}


.kiln{
    width: 700px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}

@media screen and (max-width: 900px){
.faq{
    display: block;
    width: 90%;
}
.img4{
    width: 70%;
    height: 20%;
}
.kiln{
    width: 90%;
}
}
    
